PORT=3000

MONGO_URL=mongodb://mongo-user:123456@localhost:27017
MONGO_DB_NAME=imagenodeappdb

JWT_SEED=XmUolANx4lPOHBsU3i1hgkw7jbG7ZrbY0p9dKYrozurjwdPVFDeOhXPm5NYUqdqK8XMrnQLBLAhLfcQpLTqpUg==

WEBSERVICE_URL=http://localhost:3000/api